* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// VARIABLES
$color-primary: #3eb871;
$color-white: #fff;
$color-gray: #e4e4e4;

// MEDIA QUERY MANAGER
/*
0-600px        phone
600-740px      phone-land
600-900px      table portrait
900-1200px     table landscape
{1200-1800px}  normal styles
1800px +       big screen
*/

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px (600/16 = 37.5)
  }

  @if $breakpoint == phone-land {
    @media only screen and (max-width: 46.25em) {
      @content;
    } // 740px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } // 1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  -webkit-font-smoothing: antialiased;

  @include responsive(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25
  }

  @include responsive(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  @include responsive(phone) {
    font-size: 50%; //1rem = 6px
  }

  @include responsive(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #323232;
}
